
<div class="sidenav">
         <div class="left-text">
            <h2>Dosya Yönetim Uygulaması</h2>
            <p>Giriş yaparak Dosyalarına erişebilirsin.</p>
            <br>
            <p>Halen Kayıt olmadıysan :<a [routerLink]="['/register']"> Kayıt Ol</a></p>
            <p>Default User: sam@sam.com </p><p>Password: 123456</p>
         </div>
      </div>

      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
              <div class="logo">
                M
              </div>
               <form>
                  <div class="form-group">
                     <label>E-mail</label>
                     <input type="email" class="form-control" [(ngModel)]="User.mail" placeholder="Email" name="email">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" [(ngModel)]="User.password" placeholder="Password" name="password">
                  </div>
                  <button type="submit"  class="btn btn-lg btn-black" (click)="Login()">Giriş Yap</button>
                 <pre></pre>
                  <button type="submit" class="btn btn lg btn-secondary" [routerLink]="['/register']">Kayıt Ol</button>
               </form>
            </div>
         </div>
      </div>

